<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>
<%@ include file="/commons/global.jsp" %>
<script type="text/javascript">
    $(function() {
        $('#${table.entityPath}AddForm').form({
            url : '${path}/${table.entityPath}/add',
            onSubmit : function() {
                progressLoad();
                var isValid = $(this).form('validate');
                if (!isValid) {
                    progressClose();
                }
                return isValid;
            },
            success : function(result) {
                progressClose();
                result = $.parseJSON(result);
                if (result.success) {
                    //之所以能在这里调用到parent.$.modalDialog.openner_dataGrid这个对象，是因为user.jsp页面预定义好了
                    parent.$.modalDialog.openner_dataGrid.datagrid('reload');
                    parent.$.modalDialog.handler.dialog('close');
                } else {
                    parent.$.messager.alert('错误', result.msg, 'error');
                }
            }
        });
    });
    
     function ${table.entityPath}AddSubmit() { 	
		$('#echartAddForm').submit(); 		
		//toggleInputs();	
	 }
    
    function reset${table.entityPath}() {
		 $("#${table.entityPath}AddForm").form('clear');  
	}
</script>
<div class="easyui-layout" data-options="fit:true,border:false" >
    <div data-options="region:'center',border:false" style="overflow: auto;padding: 3px;" >
        <form id="${table.entityPath}AddForm" method="post">
            <table class="grid">
            #foreach($field in ${table.fields})		 
		        <tr>
                    <td>${field.propertyName}</td>
                    <td><input name="${field.propertyName}" type="text" class="easyui-textbox"  data-options="required:true" value=""></td>
                </tr> 
		    #end    
		     <tr>
                    <td colspan="2"  align="center">
                       <a id="btnSubmit"  href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'fi-x-circle',plain:true" onclick="${table.entityPath}AddSubmit();">保存</a> 
                       <a id="btnEdit" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'fi-x-circle',plain:true" onclick="reset${table.entityPath}();">重置</a>  
                    </td>
                     
                </tr> </table>
        </form>          
            </table>
        </form>
    </div>
</div>