package ${package.Entity};

#if(${superEntityClassPackage})
import ${superEntityClassPackage};
#end
#if(${activeRecord})
import com.baomidou.mybatisplus.activerecord.Model;
#end
#if(!${dbColumnUnderline})
import com.alibaba.fastjson.annotation.JSONField;
import com.baomidou.mybatisplus.annotations.TableId;
import com.baomidou.mybatisplus.annotations.TableField;
import com.baomidou.mybatisplus.enums.IdType;
import com.fasterxml.jackson.annotation.JsonIgnore;
import com.fasterxml.jackson.annotation.JsonProperty;
import com.fasterxml.jackson.annotation.JsonFormat;
#end
#if(${tabeAnnotation})
import com.baomidou.mybatisplus.annotations.TableName;
#end
import java.io.Serializable;
/**
 * <p>
 * ${table.comment} 实体类
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
#if(${tabeAnnotation})
#if(${table.schemaName}!="dbo"&&${table.schemaName}!="")
@TableName("${table.schemaName}.${table.name}")
#else
@TableName("${table.name}")
#end
#end
#if(${superEntityClass})
public class ${entity} extends ${superEntityClass} {
#else
#if(${activeRecord})
public class ${entity} extends Model<${entity}> {
#else
public class ${entity} implements Serializable {
#end
#end

    private static final long serialVersionUID = 1L;       
#foreach($field in ${table.fields})
#if(${field.keyFlag})
#set($keyPropertyName=${field.propertyName})
#end
#if(${field.comment})
	/**
     * 属性: ${field.propertyName}
     * 备注: ${field.comment}
     * 字段: ${field.name}
	 */
#end
#if(${field.keyFlag})
	@TableId(type = IdType.AUTO,value="${field.name}")
#else
#if(${field.convert})
	@TableField(value="${field.name}")
#end
#end
	@JsonProperty
#if(${field.propertyType}=="java.util.Date")
	@JSONField(format = "yyyy-MM-dd HH:mm:ss")  //FastJson包使用注解
	@JsonFormat(pattern = "yyyy-MM-dd HH:mm:ss",timezone = "GMT+8") //Jackson包使用注解
#end
	private ${field.propertyType} ${field.propertyName};
#end

#foreach($field in ${table.fields})
#if(${field.propertyType.equals("Boolean")})
#set($getprefix="is")
#else
#set($getprefix="get")
#end
	/**
	 * 获取 ${field.comment}
	 */
	@JsonIgnore
	public ${field.propertyType} ${getprefix}${field.capitalName}() {
		return ${field.propertyName};
	}
	/**
	 * 设置 ${field.comment}
	 */
#if(${entityBuliderModel})
	@JsonIgnore
	public ${entity} set${field.capitalName}(${field.propertyType} ${field.propertyName}) {
#else
	@JsonIgnore
	public void set${field.capitalName}(${field.propertyType} ${field.propertyName}) {
#end
		this.${field.propertyName} = ${field.propertyName};
#if(${entityBuliderModel})
		return this;
#end
	}
#end

#if(${entityColumnConstant})
#foreach($field in ${table.fields})
	public static final String ${field.name.toUpperCase()} = "${field.name}";

#end
#end
#if(${activeRecord})
 

#end
	@Override
	protected Serializable pkVal() {
		// TODO Auto-generated method stub
		return null;
	}
	
	public  ${entity}() {
		//getHeader();
	}
	
}
