<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tupperware.auto.mysql.mapper.AuthRoleMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.tupperware.auto.mysql.model.AuthRole">
		<id column="roleid" property="roleid" /> 
		<result column="rolename" property="rolename" /> 
		<result column="cname" property="cname" /> 
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        roleid, rolename, cname
    </sql>
    
    

<select id="selectByMapParam" resultMap="BaseResultMap" parameterType="Map" >
    select  
    	<include refid="Base_Column_List" />
   	 from dbo.auth_role WHERE 1=1     
    	 <if test="roleid != null" > and  roleid = #{roleid,jdbcType=INT(11)} </if> 
		 <if test="rolename != null" > and  rolename = #{rolename,jdbcType=VARCHAR(20)} </if> 
		 <if test="cname != null" > and  cname = #{cname,jdbcType=VARCHAR(50)} </if> 
	  </select>
  
  <select id="selectAuthRoleList" resultType="AuthRole">
        select
        <include refid="Base_Column_List"/>
        from dbo.auth_role
        order by ${sort} ${order}
    </select>
    
    <select id="selectTopAuthRole" resultType="AuthRole">
        select top ${n} 
        <include refid="Base_Column_List"/>
        from dbo.auth_role
    </select>
    
    <select id="getByFilter" resultType="AuthRole">
        select top 1 
        <include refid="Base_Column_List"/>
        from dbo.auth_role 
        where 1=1
        <!--    and organno=${organno}
				and year=${year}
				and month=${month}
				and week=${week}
				and date=2018-09-29
				and organtype=${organtype} -->
    </select>
    
</mapper>
 