<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tupperware.auto.mysql.mapper.AuthUserMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.tupperware.auto.mysql.model.AuthUser">
		<id column="id" property="id" /> 
		<result column="username" property="username" /> 
		<result column="password" property="password" /> 
		<result column="email" property="email" /> 
		<result column="useable" property="useable" /> 
		<result column="roleid" property="roleid" /> 
		<result column="addtime" property="addtime" /> 
		<result column="logintime" property="logintime" /> 
		<result column="loginip" property="loginip" /> 
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, username, password, email, useable, roleid, addtime, logintime, loginip
    </sql>
    
    

<select id="selectByMapParam" resultMap="BaseResultMap" parameterType="Map" >
    select  
    	<include refid="Base_Column_List" />
   	 from dbo.auth_user WHERE 1=1     
    	 <if test="id != null" > and  id = #{id,jdbcType=INT(3) UNSIGNED} </if> 
		 <if test="username != null" > and  username = #{username,jdbcType=CHAR(20)} </if> 
		 <if test="password != null" > and  password = #{password,jdbcType=CHAR(32)} </if> 
		 <if test="email != null" > and  email = #{email,jdbcType=VARCHAR(100)} </if> 
		 <if test="useable != null" > and  useable = #{useable,jdbcType=TINYINT(4)} </if> 
		 <if test="roleid != null" > and  roleid = #{roleid,jdbcType=INT(11)} </if> 
		 <if test="addtime != null" > and  addtime = #{addtime,jdbcType=TIMESTAMP} </if> 
		 <if test="logintime != null" > and  logintime = #{logintime,jdbcType=TIMESTAMP} </if> 
		 <if test="loginip != null" > and  loginip = #{loginip,jdbcType=VARCHAR(15)} </if> 
	  </select>
  
  <select id="selectAuthUserList" resultType="AuthUser">
        select
        <include refid="Base_Column_List"/>
        from dbo.auth_user
        order by ${sort} ${order}
    </select>
    
    <select id="selectTopAuthUser" resultType="AuthUser">
        select top ${n} 
        <include refid="Base_Column_List"/>
        from dbo.auth_user
    </select>
    
    <select id="getByFilter" resultType="AuthUser">
        select top 1 
        <include refid="Base_Column_List"/>
        from dbo.auth_user 
        where 1=1
        <!--    and organno=${organno}
				and year=${year}
				and month=${month}
				and week=${week}
				and date=2018-09-29
				and organtype=${organtype} -->
    </select>
    
</mapper>
 