<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tupperware.auto.mysql.mapper.JobEmailMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.tupperware.auto.mysql.model.JobEmail">
		<id column="id" property="id" />
            <result column="mail" property="mail" />
                <result column="execDate" property="execdate" />
                <result column="nextExecDate" property="nextexecdate" />
                <result column="YearWeek" property="yearweek" />
                <result column="OrganNo" property="organno" />
                <result column="organName" property="organname" />
                <result column="EmailTo" property="emailto" />
                <result column="EmailCC" property="emailcc" />
                <result column="EmailBC" property="emailbc" />
                <result column="subject" property="subject" />
                <result column="content" property="content" />
                <result column="attPath" property="attpath" />
                <result column="isActive" property="isactive" />
                <result column="week" property="week" />
                <result column="quarter" property="quarter" />
                <result column="month" property="month" />
                <result column="year" property="year" />
                <result column="createTime" property="createtime" />
                <result column="updateTime" property="updatetime" />
                <result column="deleteFlag" property="deleteflag" />
                    <result column="status" property="status" />
                <result column="type" property="type" />
    	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        mail, execDate, nextExecDate, YearWeek, OrganNo, organName, EmailTo, EmailCC, EmailBC, subject, content, attPath, isActive, week, quarter, month, year, createTime, updateTime, deleteFlag, id, status, type
    </sql>
    
    

<select id="selectByMapParam" resultMap="BaseResultMap" parameterType="Map" >
    select  
    	<include refid="Base_Column_List" />
   	 from job_email WHERE 1=1     
    	 <if test="mail != null" > and  mail = #{mail} </if> 
		 <if test="execdate != null" > and  execDate = #{execdate} </if> 
		 <if test="nextexecdate != null" > and  nextExecDate = #{nextexecdate} </if> 
		 <if test="yearweek != null" > and  YearWeek = #{yearweek} </if> 
		 <if test="organno != null" > and  OrganNo = #{organno} </if> 
		 <if test="organname != null" > and  organName = #{organname} </if> 
		 <if test="emailto != null" > and  EmailTo = #{emailto} </if> 
		 <if test="emailcc != null" > and  EmailCC = #{emailcc} </if> 
		 <if test="emailbc != null" > and  EmailBC = #{emailbc} </if> 
		 <if test="subject != null" > and  subject = #{subject} </if> 
		 <if test="content != null" > and  content = #{content} </if> 
		 <if test="attpath != null" > and  attPath = #{attpath} </if> 
		 <if test="isactive != null" > and  isActive = #{isactive} </if> 
		 <if test="week != null" > and  week = #{week} </if> 
		 <if test="quarter != null" > and  quarter = #{quarter} </if> 
		 <if test="month != null" > and  month = #{month} </if> 
		 <if test="year != null" > and  year = #{year} </if> 
		 <if test="createtime != null" > and  createTime = #{createtime} </if> 
		 <if test="updatetime != null" > and  updateTime = #{updatetime} </if> 
		 <if test="deleteflag != null" > and  deleteFlag = #{deleteflag} </if> 
		 <if test="id != null" > and  id = #{id} </if> 
		 <if test="status != null" > and  status = #{status} </if> 
		 <if test="type != null" > and  type = #{type} </if> 
	  </select>
  
  <select id="selectJobEmailList" resultType="JobEmail">
        select
        <include refid="Base_Column_List"/>
        from job_email
        order by ${sort} ${order}
    </select>
    
</mapper>
